body {
    background-color: black;
    color: cornsilk;
    font-family: monospace;
}

.main {
    background-color: blueviolet;
    width: 500px;
    height: 200px;
    text-align: center;
    margin: 15% auto;
    border-radius: 20px;
}

.main-lingkaran {
    background-color: blueviolet;
    width: 500px;
    height: 230px;
    text-align: center;
    margin: 15% auto;
    border-radius: 20px;
}

.main-segitiga {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 15% auto;
    border-radius: 20px;    
}

.main-persegi {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 15% auto;
    border-radius: 20px;    
}

h1 {
    border-bottom: 2px solid white;
    padding: 30px 0 4px 0;
    margin: 50px auto;
    width: 200px;
    text-align: center;
}

input[type="text"] {
    width: 20px;
}

.lingkaran {
    width: 350px;
    padding: 30px 0 4px 0;
    margin: 30px auto;
}

.segitiga {
    width: 313px;
    padding: 30px 0 4px 0;
    margin: 55px auto;
}

.persegi {
    width: 313px;
    padding: 30px 0 4px 0;
    margin: 55px auto;
}

a {
    text-decoration: unset;
    color: cornsilk;
    background-color: #302b2b ;
    padding: 10px;
    box-shadow: 0px 7px #635959;
    margin: 0 20px;
    opacity: 0.8;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotate(359deg);
    border-radius: 100%;
}

a:active {
    box-shadow: none;
}

